@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error-message {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999999;
}

.error-message button {
  color: #909090;
  border: none;
  background-color: inherit;
  font-size: 14px;
}

.error-message button:active {
  transform: scale(0.9);
}

.error-message button:hover {
  color: #707070;
  cursor: pointer;
}

.error-message li {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  max-width: 500px;
  margin: 0 0 15px 0;
  padding: 0 15px 0 15px;
  background-color: #eee5b5;
  color: #180202;
  border-left: #800000 3px solid;
  border-radius: 3px;
  animation: 0.5s ease-out 0s 1 appearance;
  font-size: 16px;
}
